body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
}
#stream {
  position: absolute;
  width: 60vw;
  height: 70vh;
  background-color: white;
}
#architecture {
  position: absolute;
  width: 60vw;
  height: 70vh;
}
#chart {
  position: absolute;
  width: 40vw;
  height: 50vh;
  margin-left: 60vw;
}
.flip-card {
  position: absolute;
  width: 60vw;
  height: 75vh;
}
.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
}
#webcamframe{
  display:none;
}
#status {
  position: absolute;
  font-size: 1.5vw;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  left: 2vw;
  margin-top: 6vh;
}
#currentmodel {
  position: absolute;
  font-size: 1.5vw;
  font-family: "Roboto", sans-serif;
  color: white;
  left: 2vw;
  margin-top: 2vh;
}
#pause {
  display: none;
}
#pause:checked ~ .icon {
  width: 16px;
  height: 48px;
  border-left: 16px solid rgb(255, 255, 255);
  border-right: 16px solid rgb(255, 255, 255);
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}
.icon {
  position: absolute;
  margin: auto;
  left: -1vw;
  right: 0;
  bottom: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 48px solid rgb(255, 255, 255);
  transition: all 0.3s ease;
}
#pausediv {
  position: absolute;
  width: 10vw;
  height:20vh;
  left: 60vw;
  top: 50vh;
}
#nextdiv a{
  top: 7.5vh;
  display: block;
  left:-2vw;
  width: 8vw;
  height: 4.5vh;
  line-height: 4.5vh;
  font-size: 1vw;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  position: relative;
  transition: all .35s;
}
#nextdiv a span{
  position: relative;
  z-index: 2;
}
#nextdiv a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  transition: all .35s;
}
#nextdiv a:hover{
  color: rgb(0, 0, 0);
}
#nextdiv a:hover:after{
  width: 100%;
}
#nextdiv {
  position: absolute;
  width: 10vw;
  height:20vh;
  left: 70vw;
  top: 50vh;
}
.switch-button {
  left:-2vw;
  top: 7.5vh;
  display: block;
  width: 5vw;
  height: 4.5vh;
  font-size: 1vw;
  font-family: sans-serif;
  text-decoration: none;
  align-items: center;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  position: relative;
  padding-right: 5vw;
}
.switch-button:before {
  content: "Webcam";
  position: absolute;
  left:4.9vw;
  top: 0.1vh;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}
.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(5vw);
  transition: transform 300ms linear;
}
.switch-button-checkbox + .switch-button-label {
  position: relative;
  height:4.5vh;
  display: block;
  user-select: none;
  pointer-events: none;
}
.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: rgba(255, 255, 255, 0.297);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(0);
  transition: transform 300ms;
}
.switch-button-label span{
  line-height: 4.5vh;
  display: inline-block;
  vertical-align: middle;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
  left:1.2vw;
}
#webcamdiv {
  position: absolute;
  width: 10vw;
  height:20vh;
  left: 80vw;
  top: 50vh;
}
#info{
  top: 7.5vh;
  display: block;
  width: 8vw;
  height: 4.8vh;
  font-size: 1vw;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  position: absolute;
  transition: all .35s;
  background: transparent;
  overflow: hidden;
}
#info:hover{
 cursor: pointer
}
#info:hover:before{
 opacity: 1;
  transform: translate(0,0);
}
#info:before{
  content: attr(data-hover);
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translate(-100%,0);
  transition: all .3s ease-in-out;
}
#info:hover div{
 opacity: 0;
  transform: translate(100%,0);
}
#info div{
  transition: all .3s ease-in-out;
}
#infodiv {
  position: absolute;
  width: 10vw;
  height:20vh;
  left: 90vw;
  top: 50vh;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
@-webkit-keyframes ani {
  from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
 }
  to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
 }
}
@keyframes ani {
  from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
 }
  to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
 }
}
@-webkit-keyframes ani2 {
  from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
 }
  to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
 }
}
@keyframes ani2 {
  from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
 }
  to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
 }
}
.card-font {
  font-family: "Roboto", sans-serif;
  font-size: 0.8vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1vw;
}
#btn1 {
  position: absolute;
  margin-top: 70vh;
  height: 30vh;
  width: 25vw;
  background-color: #ffa850;
  border: 0px;
}
#btn2 {
  position: absolute;
  margin-top: 70vh;
  margin-left: 25vw;
  height: 30vh;
  width: 25vw;
  border: 0px;
  background-color: #ff6767;
}
#btn3 {
  position: absolute;
  margin-top: 70vh;
  margin-left: 50vw;
  height: 30vh;
  width: 25vw;
  border: 0px;
  background-color: #a5d6ff;
}
#btn4 {
  position: absolute;
  margin-top: 70vh;
  margin-left: 75vw;
  height: 30vh;
  width: 25vw;
  border: 0px;
  background-color: #5874dc;
}
.button-effect {
  overflow: hidden;
}
.button-effect button {
  width: 100%;
  height: 100%;
  -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  -webkit-mask-size: 7100% 100%;
  mask-size: 7100% 100%;
  border: none;
  -webkit-animation: ani2 0.7s steps(70) forwards;
  animation: ani2 0.7s steps(70) forwards;
}
.button-effect button:hover {
  -webkit-animation: ani 0.7s steps(70) forwards;
  animation: ani 0.7s steps(70) forwards;
}
#activate1 {
  position: absolute;
  margin-top: 77vh;
  margin-left: 5vw;
  height: 5vh;
  width: 15vw;
  background-color: #ffa850;
  font-family: "Roboto", sans-serif;
  font-size: 0.7vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1vw;
  border: none;
}
#github1 {
  position: absolute;
  margin-top: 83vh;
  margin-left: 5vw;
  height: 5vh;
  width: 15vw;
  background-color: #ffa850;
  font-family: "Roboto", sans-serif;
  font-size: 0.7vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1vw;
  border: none;
}
#paper1 {
  position: absolute;
  margin-top: 89vh;
  margin-left: 5vw;
  height: 5vh;
  width: 15vw;
  background-color: #ffa850;
  font-family: "Roboto", sans-serif;
  font-size: 0.7vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1vw;
  border: none;
}
#activate2 {
  position: absolute;
  margin-top: 77vh;
  margin-left: 30vw;
  height: 5vh;
  width: 15vw;
  background-color: #ff6767;
  font-family: "Roboto", sans-serif;
  font-size: 0.7vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1vw;
  border: none;
}
#github2 {
  position: absolute;
  margin-top: 83vh;
  margin-left: 30vw;
  height: 5vh;
  width: 15vw;
  background-color: #ff6767;
  font-family: "Roboto", sans-serif;
  font-size: 0.7vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1vw;
  border: none;
}
#paper2 {
  position: absolute;
  margin-top: 89vh;
  margin-left: 30vw;
  height: 5vh;
  width: 15vw;
  background-color: #ff6767;
  font-family: "Roboto", sans-serif;
  font-size: 0.7vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1vw;
  border: none;
}
#activate3 {
  position: absolute;
  margin-top: 77vh;
  margin-left: 55vw;
  height: 5vh;
  width: 15vw;
  background-color: #a5d6ff;
  font-family: "Roboto", sans-serif;
  font-size: 0.7vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1vw;
  border: none;
}
#github3 {
  position: absolute;
  margin-top: 83vh;
  margin-left: 55vw;
  height: 5vh;
  width: 15vw;
  background-color: #a5d6ff;
  font-family: "Roboto", sans-serif;
  font-size: 0.7vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1vw;
  border: none;
}
#paper3 {
  position: absolute;
  margin-top: 89vh;
  margin-left: 55vw;
  height: 5vh;
  width: 15vw;
  background-color: #a5d6ff;
  font-family: "Roboto", sans-serif;
  font-size: 0.7vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1vw;
  border: none;
}
#activate4 {
  position: absolute;
  margin-top: 77vh;
  margin-left: 80vw;
  height: 5vh;
  width: 15vw;
  background-color: #5874dc;
  font-family: "Roboto", sans-serif;
  font-size: 0.7vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1vw;
  border: none;
}
#github4 {
  position: absolute;
  margin-top: 83vh;
  margin-left: 80vw;
  height: 5vh;
  width: 15vw;
  background-color: #5874dc;
  font-family: "Roboto", sans-serif;
  font-size: 0.7vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1vw;
  border: none;
}
#paper4 {
  position: absolute;
  margin-top: 89vh;
  margin-left: 80vw;
  height: 5vh;
  width: 15vw;
  background-color: #5874dc;
  font-family: "Roboto", sans-serif;
  font-size: 0.7vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1vw;
  border: none;
}
#cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.cover-infobox {
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  color: black;
  background: rgba(255, 255, 255);
  width: 50%;
  margin: 10vw auto;
  padding: 40px;
  z-index: 10;
}
/*INFO CLOSEBUTTON*/
#close-infobox {
  margin-top: 2vh;
  margin-left: 20vw;
  height: 5vh;
  width: 10vw;
  background: transparent;
  color: inherit;
  text-decoration: none;
  border: 0;
  transition: all 200ms ease-in;
  display: inline-block;
  color: black;
  border: 1.5px solid black;
  font-size: 0.9vw;
}
#close-infobox:hover {
  background: black;
  color: white;
}
/*LINKS IN INFOBOX*/
.link1 a {
  text-decoration: none;
  color: inherit;
  outline: none;
  display: inline-block;
  padding: 0 1px;
  transition: background-color 0.4s ease-out;
  border-bottom: 0.2em solid #ccc;
}
.link1 a:hover {
  background-color: #ccc;
}
.link2 a {
  text-decoration: none;
  color: inherit;
  outline: none;
  display: inline-block;
  padding: 0 1px;
  transition: background-color 0.25s ease-out;
  border-bottom: 0.2em solid #248dbf;
}
.link2 a:hover {
  background-color: #248dbf;
}
@media (min-width: 961px) {
  #main {
      visibility: visible;
 }
  #mobile {
      display: None;
 }
  #loading {
      display: block;
 }
}
@media (max-width: 961px) {
  #main {
      visibility: hidden;
 }
  #mobile {
      display: block;
 }
  #loading {
      display: None;
 }
  @import url("https://fonts.googleapis.com/css?family=Montserrat:700");
  body {
      background-color: rgb(0, 0, 0);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: #fff;
      text-align: center;
      width: 100vw;
      font-weight: 700;
      overflow: hidden;
      font-family: "Montserrat", sans-serif;
 }
  #fly-in {
      font-size: 3em;
      margin: 40vh auto;
      height: 20vh;
      text-transform: uppercase;
 }
  #fly-in span {
      display: block;
      font-size: 0.4em;
      opacity: 0.8;
 }
  #fly-in div {
      position: fixed;
      top: 27vh;
      margin: 0 auto;
      opacity: 0;
      left: 10vw;
      width: 80vw;
      animation: switch 6s linear infinite;
 }
  #fly-in div:nth-child(1) {
      animation-delay: 0.5s;
 }
  #fly-in div:nth-child(2) {
      animation-delay: 3.5s;
 }
  @keyframes switch {
      0% {
          opacity: 0;
          filter: blur(20px);
          transform: scale(12);
     }
      10% {
          opacity: 1;
          filter: blur(0);
          transform: scale(1);
     }
      50% {
          opacity: 1;
          filter: blur(0);
          transform: scale(0.9);
     }
      57% {
          opacity: 0;
          filter: blur(10px);
          transform: scale(0.1);
     }
      80% {
          opacity: 0;
     }
      100% {
          opacity: 0;
     }
 }
}
/* LOADING SCREEN*/
#main {
  visibility: hidden;
}
.loading-title {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
  font-weight: thin;
  letter-spacing: -0.3vw;
  font-size: 3.6vw;
  margin-top: -45vh;
  position: absolute;
}
.loading-author {
  margin-top: -36vh;
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5vw;
  font-weight: 300;
  line-height: 1vw;
  text-align: center;
  position: absolute;
}
#loading {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
}
.boxes {
  height: 32px;
  width: 32px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  margin-top: 32px;
  -webkit-transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}
.boxes .box {
  width: 32px;
  height: 32px;
  top: 0px;
  left: 0;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.boxes .box:nth-child(1) {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-animation: box1 1s linear infinite;
  animation: box1 1s linear infinite;
}
.boxes .box:nth-child(2) {
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-animation: box2 1s linear infinite;
  animation: box2 1s linear infinite;
}
.boxes .box:nth-child(3) {
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
  -webkit-animation: box3 1s linear infinite;
  animation: box3 1s linear infinite;
}
.boxes .box:nth-child(4) {
  -webkit-transform: translate(200%, 0);
  transform: translate(200%, 0);
  -webkit-animation: box4 1s linear infinite;
  animation: box4 1s linear infinite;
}
.boxes .box > div {
  background: #5c8df6;
  --translateZ: 15.5px;
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #5c8df6;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  -webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}
.boxes .box > div:nth-child(1) {
  top: 0;
  left: 0;
  background: #5c8df6;
}
.boxes .box > div:nth-child(2) {
  background: #145af2;
  right: 0;
  --rotateY: 90deg;
}
.boxes .box > div:nth-child(3) {
  background: #447cf5;
  --rotateX: -90deg;
}
.boxes .box > div:nth-child(4) {
  background: #dbe3f4;
  top: 0;
  left: 0;
  --translateZ: -90px;
}
@keyframes box1 {
  0%, 50% {
      transform: translate(100%, 0);
 }
  100% {
      transform: translate(200%, 0);
 }
}
@keyframes box2 {
  0% {
      transform: translate(0, 100%);
 }
  50% {
      transform: translate(0, 0);
 }
  100% {
      transform: translate(100%, 0);
 }
}
@keyframes box3 {
  0%, 50% {
      transform: translate(100%, 100%);
 }
  100% {
      transform: translate(0, 100%);
 }
}
@keyframes box4 {
  0% {
      transform: translate(200%, 0);
 }
  50% {
      transform: translate(200%, 100%);
 }
  100% {
      transform: translate(100%, 100%);
 }
}
#stream-loading {
  display: none;
  position: absolute;
  width: 60vw;
  height: 70vh;
  background: #2196f3;
  overflow: hidden;
}
#stream-loading .container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 250px;
  height: 250px;
  margin: auto;
}
#stream-loading .part {
  width: 250px;
  position: absolute;
}
#stream-loading .svgpath {
  fill: rgba(145, 220, 90, 0);
  stroke: rgb(255, 255, 255);
  stroke-width: 1.5px;
  stroke-dasharray: 1000;
  stroke-linecap: round;
  z-index: 2;
}
#stream-loading .svgbg {
  fill: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#playload {
  animation: dash 2.5s reverse ease-in-out infinite;
}
@keyframes dash {
  to {
      stroke-dashoffset: 2000;
 }
}
/*CHART LOADING*/
#chart-loading {
  display: none;
  position: absolute;
  top: 12%;
  left: 76%;
  margin: -16px 0 0 -16px;
}
.loader {
  color: rgb(0, 0, 0);
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: 50;
  font-size: 25vh;
}
.loader span {
  display: inline-block;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader span:nth-child(odd) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
@-webkit-keyframes pulse {
  to {
      transform: scale(0.8);
      opacity: 0.7;
 }
}
@keyframes pulse {
  to {
      transform: scale(0.8);
      opacity: 0.7;
 }
}
.popup-wrap {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.5vw;
  font-weight: lighter;
  line-height: 200%;
  background: #d75f70;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background: rgba(0, 0, 0, 0.85);
}
.popup-box {
  width: 25vw;
  padding: 2vw;
  transform: translate(-50%, -50%) scale(0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background: #fff;
  text-align: center;
}
.transform-in, .transform-out {
  display: block;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.transform-in {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";
.btn {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 4vh;
  height: 4vh;
  text-align: center;
  width: 6vw;
  cursor: pointer;
  color: black;
  transition: all 0.5s;
  font-size: 1vw;
  position: relative;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.btn span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.1);
}
